In [1]:
!pip install numpy

Requirement already satisfied: numpy in c:\anaconda\lib\site-packages (1.20.3)

In [2]:
import numpy

In [3]:
import numpy as np

In [4]:
!pip install pandas

Requirement already satisfied: pandas in c:\anaconda\lib\site-packages (1.3.4)
Requirement already satisfied: numpy>=1.17.3 in c:\anaconda\lib\site-packages (from pandas) (1.20.3)
Requirement already satisfied: pytz>=2017.3 in c:\anaconda\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\anaconda\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\anaconda\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)

In [5]:
import pandas as pd

In [6]:
d = {}

In [7]:
type(d)

dict

In [3]:
ser2 = pd.Series(list('abcdeabc'))
ser2

NameError: name 'pd' is not defined

In [4]:
ser2 = pd.Series(list('abcdeabc'))
ser2

NameError: name 'pd' is not defined

In [5]:
import pandas as pd

In [6]:
ser2 = pd.Series(list('abcdeabc'))
ser2

0    a
1    b
2    c
3    d
4    e
5    a
6    b
7    c
dtype: object

In [7]:
pd.get_dummies(ser2)

   a  b  c  d  e
0  1  0  0  0  0
1  0  1  0  0  0
2  0  0  1  0  0
3  0  0  0  1  0
4  0  0  0  0  1
5  1  0  0  0  0
6  0  1  0  0  0
7  0  0  1  0  0